<section class="quiz" ng-controller="QuizCtrl">
    <section class="start-quiz" ng-if="!isQuizRunning()">
        <h2>Start a new quiz</h2>

        <div role="button" class="ui-button ui-button-primary" ng-click="startQuiz()">Start</div>
    </section>

    <section class="play-quiz" ng-if="isQuizRunning()">
        <h2>Frage {{getCurrentQuestionNumber()}} von {{getNumberOfQuizQuestions()}}</h2>

        <div class="question">
            <div class="question-text" ng-bind-html="getQuestionText() | renderHtml"></div>
        </div>

        <div class="answer">
            <input type="text" id="answer" ng-model="qu.answer" ng-keypress="handleKeyPress($event)" />

            <button ng-click="submitAnswer(qu.answer)">Ok</button>
        </div>

        <div class="solution" ng-if="questionAnswered()" ng-bind-html="getAnswerText() | renderHtml"></div>

        <div class="next-question" ng-if="questionAnswered()">
            <button id="btnNextQuestion" ng-click="nextQuestion()">Nächste Frage</button>
        </div>
    </section>
</section>