$primary: #c5eff7;
$title: #81cfe0;
$text_primary: #444;
$link_color: cornflowerblue;

$primary_dark: #65acba;

$soft_red: #ec644b;
$thunderbird: #d91e18;
$old_brick: #96281b;
$new_york_pink: #e08283;
$snuff: #dcc6e0;
$honey_flower: #674172;
$san_marino: #446cb3;
$shakespeare: #52b3d9;
$ming: #336e7b;
$gossip: #87d37c;
$eucalyptus: #26a65b;
$mountain_meadow: #1bbc9b;
$jade: #00b16a;
$confetti: #e9d460;
$california: #f89406;
$burnt_orange: #d35400;
$jaffa: #f27935;
$gallery: #eeeeee;
$edward: #abb7b7;
$lynch: #6c7a89;

$jelly_bean: #2574a9;
$madison: #2c3e50;
$carrara: #f2f1ef;

$grass: #3ac569;
$snow: #ffffff;
$alge: #79a8a9;
$dark: #333030;

body {
  background-color: $primary;
  text-align: center;
  font-family: 'Open Sans', Verdana, sans-serif;
  color: $text_primary;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, a:link, a:focus, a:visited, a:active {
  color: $link_color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type=text], input[type=password], input[type=email] {
  font-family: 'Open Sans', Verdana, sans-serif;
}

.bold {
  font-weight: bold;
}

.back-container {
  margin-bottom: 1.5em;
}

.info {
  margin-top: 0.6em;
  font-size: 0.8em;
}

/* ------------ Messages ------------ */
.ui-message {
  padding: 1em;
}

.ui-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-message-center {
  width: 50%;
}

.ui-message-success {
  background-color: $gossip;
}

.ui-message-error {
  background-color: $soft_red;
}

/* ------------- Colors ------------- */
.bg-soft_red {
  background-color: $soft_red;
}

.bg-thunderbird {
  background-color: $thunderbird;
}

.bg-old_brick {
  background-color: $old_brick;
}

.bg-new_york_pink {
  background-color: $new_york_pink;
}

.bg-snuff {
  background-color: $snuff;
}

.bg-honey_flower {
  background-color: $honey_flower;
}

.bg-san_marino {
  background-color: $san_marino;
}

.bg-shakespeare {
  background-color: $shakespeare;
}

.bg-ming {
  background-color: $ming;
}

.bg-gossip {
  background-color: $gossip;
}

.bg-eucalyptus {
  background-color: $eucalyptus;
}

.bg-mountain_meadow {
  background-color: $mountain_meadow;
}

.bg-jade {
  background-color: $jade;
}

.bg-confetti {
  background-color: $confetti;
}

.bg-california {
  background-color: $california;
}

.bg-burnt_orange {
  background-color: $burnt_orange;
}

.bg-jaffa {
  background-color: $jaffa;
}

.bg-gallery {
  background-color: $gallery;
}

.bg-edward {
  background-color: $edward;
}

.bg-lynch {
  background-color: $lynch;
}
/* ---------------------------------- */

/* ------------- Buttons ------------ */
.ui-button {
  display: inline-block;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  width: 20%;
  min-width: 120px;

  &:hover {
    transition: all 60ms ease;

    opacity: .85;
  }

  &:active {
    transition: all 60ms ease;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.ui-button-primary {
  color: $snow;
  background: $grass;
}

.ui-button-higher {
  color: $snow;
  background: $dark;
}

.ui-button-lower {
  color: #f4f7f7;
  background: $alge;
}
/* ---------------------------------- */

/* ---------- User profile ---------- */
.user-profile {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;

  position: relative;
  top: 0.14em;

  margin-right: 0.1em;
}
/* ---------------------------------- */

/* ------------- Header ------------- */
header {
  width: 100%;
  background-color: $title;
  margin: 0 0;
  padding: 0.4em 0 0.6em 0;
  display: inline-block;

  h1 {
    display: inline-block;
    margin: 0 0.5em 0 0;
  }

  h3 {
    color: #666;
    font-size: 1.1em;
    margin-bottom: 0;
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  header h3 {
    display: none;
  }
}
/* ---------------------------------- */

/* ------------- Navbar ------------- */
nav {
  background-color: #86e2d5;

  a, a:focus, a:visited, a:active {
    text-decoration: none;
  }
}

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;

  a {
    display: inline-block;
    padding: 0.5em 0.7em;

    &:hover {
      background-color: #03c9a9;
      text-decoration: none;
    }
  }

  a, a:link, a:focus, a:visited, a:active {
    color: $text_primary;
  }
}

.navbar li.active {
  background-color: #03c9a9;
}
/* ---------------------------------- */

/* ------ User menu dropdown -------- */
.menu-dropdown {
  li {
    display: block;
    padding: 0;

    a {
      display: block;
      padding: 0.5em 0.7em;
    }
  }
}

/* ------------ Dropdown ------------ */
.navbar-login {
  float: right;
  position: absolute;
  right: 0;
}

.menu-dropdown {
  position: relative;
  z-index: 10000;
  background-color: $jade;

  li {
    position: relative;
  }
}

.menu-user:hover {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .navbar-login {
    float: none;
    position: inherit;
    right: inherit;
    display: block;
    width: 100%;
  }
}
/* ---------------------------------- */

/* -------------- Form -------------- */
.form-group {
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: block;
    margin-bottom: 0.1em;
  }
}

.form-control {
  padding: 0.3em;
  width: 50%;
}
/* ---------------------------------- */

/* ------------- Content ------------ */
.content {
  padding: 1em 0.5em;
}

.section-element {
  margin-bottom: 1em;
}

.section-title {
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}

.group-header {
  font-weight: bold;
  font-size: 1.5em;
}
/* ---------------------------------- */

/* ----------- Progress bar --------- */
.quiz-progress {
  position: relative;
}
/* ---------------------------------- */

/* ------------ Start quiz ---------- */

/* ---------------------------------- */

/* ------------ Countries ----------- */
.countries {
  width: 75%;
  margin: 0 12.5%;
  text-align: left;

  .group-header {
    border-bottom: 1px solid $primary_dark;
    margin-bottom: 0.5em;
  }

  .letter-list li {
    margin-bottom: 1.2em;
  }

  .country-list li {
    display: inline-block;

    margin: 0 3em 0.6em 0;
  }

  .country-list li:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 600px) {
    .country-list li {
      padding: 0.4em;
    }
  }
}
/* ---------------------------------- */

/* --------- Country Detail --------- */
.countryDetail {
  .section-title {
    border-bottom: 1px solid $primary_dark;
    margin-bottom: 1em;
  }

  .flag-icon {
    width: 6em;
    line-height: 5em;
  }
}

.countryDetailTable {
  width: 100%;

  tr {
    td {
      display: block;
      box-sizing: border-box;
      clear: both;
    }

    td:last-child {
      padding-bottom: 1em;
    }
  }
}

@media screen and (max-width: 500px) {
  .countryDetailTable {
    tr:last-child {
      ul {
        li {
          padding: 0.3em;
        }
      }
    }
  }
}
/* ---------------------------------- */

/* ------------ Settings ------------ */
.settingsContainer {
  .color-list {
    margin-top: 0.5em;
    margin-left: 25%;
    width: 50%;

    li {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 0.3em;
      border: 1px solid transparent;
      padding: 0.4em;

      .user-icon {
        position: relative;
        top: 0.17em;
      }

      &.selected {
        border: 1px solid $madison;
      }

      &:not(.selected):hover {
        border: 1px solid $jelly_bean;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
/* ---------------------------------- */

/* ----------- User colours --------- */
.user-icon {
  border-radius: 50%;
  display: inline-block;
  width: 38px;
  height: 38px;
}
/* ---------------------------------- */

/* --------------- Quiz ------------- */
quiz {
  display: block;
  width: 75%;
  margin-left: 12.5%;
}

.quiz-container {
  text-align: left;
  display: flex;

  .current-question-number {
    font-weight: bold;
    font-size: 1.4em;
  }
}
/* ---------------------------------- */