$primary: #c5eff7;
$title: #81cfe0;
$text_primary: #444;
$link_color: cornflowerblue;

body {
  background-color: $primary;
  text-align: center;
  font-family: 'Open Sans', Verdana, sans-serif;
  color: $text_primary;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, a:link, a:focus, a:visited, a:active {
  color: $link_color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type=text], input[type=password] {
  font-family: 'Open Sans', Verdana, sans-serif;
}

/* ------------- Header ------------- */
header {
  width: 100%;
  background-color: $title;
  margin: 0 0;
  padding: 0.4em 0.4em 0.6em 0.4em;
  display: inline-block;

  h1 {
    display: inline-block;
    margin: 0 0.5em 0 0;
  }

  h3 {
    color: #666;
    font-size: 1.1em;
    margin-bottom: 0;
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  header h3 {
    display: none;
  }
}
/* ---------------------------------- */

/* ------------- Navbar ------------- */
nav {
  background-color: #86e2d5;

  a, a:focus, a:visited, a:active {
    text-decoration: none;
  }
}

.navbar li {
  display: inline-block;

  a {
    display: inline-block;
    padding: 0.5em 0.7em;

    &:hover {
      background-color: #03c9a9;
      text-decoration: none;
    }
  }

  a, a:link, a:focus, a:visited, a:active {
    color: $text_primary;
  }
}

.navbar li.active {
  background-color: #03c9a9;
}
/* ---------------------------------- */

/* -------------- Form -------------- */
.form-group {
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: block;
    margin-bottom: 0.1em;
  }
}

.form-control {
  padding: 0.3em;
  width: 50%;
}
/* ---------------------------------- */

/* ------------- Content ------------ */
.content {
  padding: 1em 0.5em;
}

.section-element {
  margin-bottom: 1em;
}

.section-title {
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}
/* ---------------------------------- */

/* --------------- Home ------------- */

/* ---------------------------------- */