<section class="quiz-container" ng-if="!isResultsPageVisible">
    <!-- Level of difficulty -->
    <div class="difficulty-indicator">
        <span class="question-difficulty difficulty-{{getQuestion().getInfo().difficulty}}"></span>
    </div>

    <!-- Number of current question -->
    <div class="current-question-number" ng-class="{ 'color-gold': getQuestion().getInfo().bonus === true }">Frage {{getCurrentQuestionNumber()}}</div>

    <!-- Question -->
    <div class="question-container" ng-bind-html="renderQuestionText() | renderHtml"></div>

    <!-- Question media (map of the world, flag, ...) -->
    <div class="question-media-container" ng-if="getQuestionMedia()" ng-switch="getQuestionMedia()">
        <span ng-switch-when="flag" class="flag-icon flag-icon-large flag-icon-{{getQuestion().getInfo().alpha2Code}}"></span>

        <div ng-switch-when="map">
            <x-map></x-map>
        </div>

        <div ng-switch-default>Unknown media type {{getQuestionMedia()}}</div>
    </div>

    <!-- Answer input -->
    <div class="input-container" ng-switch="getQuestion().getInfo().input">
        <div ng-switch-when="text.standard" class="quiz-input-text">
            <input type="text" class="answerInput" ng-model="answerInput.answer" placeholder="Antwort" ng-keypress="handleKeyPress($event)" />
        </div>

        <div ng-switch-when="number.medium" class="quiz-input-number">
            <input type="number" class="answerInput" ng-model="answerInput.answer" placeholder="Antwort" ng-keypress="handleKeyPress($event)" />

            <select class="multiplierSelection" ng-model="answerInput.multiplier" ng-options="opt.label for opt in multiplierOptions track by opt.value"></select>

            <span class="question-unit">{{getQuestion().getInfo().unit}}</span>
        </div>

        <div ng-switch-when="number.high" class="quiz-input-number">
            <input type="number" class="answerInput" ng-model="answerInput.answer" placeholder="Antwort" ng-keypress="handleKeyPress($event)" />

            <select class="multiplierSelection" ng-model="answerInput.multiplier" ng-options="opt.label for opt in multiplierOptions track by opt.value"></select>
        </div>

        <div id="selectable-border-countries" ng-switch-when="selectable" class="quiz-input-selectable">
            <selectable ng-repeat="country in getQuestion().getInfo().possibleAnswers" country-name="{{country.name}}" country-alpha2="{{country.alpha2Code.toLocaleLowerCase()}}" country-alpha3="{{country.alpha3Code}}" is-selected="false"></selectable>
        </div>

        <div ng-switch-when="map.point" class="quiz-input-map">

        </div>

        <div ng-switch-default>
            {{getQuestion().getInfo().input}}
        </div>
    </div>

    <!-- Solution -->
    <div class="solution-container" ng-if="questionAnswered()">
        <div class="answer-correct">
            Die richtige Antwort lautet: <span class="highlight-green" ng-class="{ 'highlight-green': answerInput.points > 0, 'highlight-red': answerInput.points <= 0 }" ng-bind="getQuestion().solution().correct | textOrNumber"></span>
        </div>

        <div class="answer-points">{{answerInput.points}} Punkte</div>
    </div>

    <!-- Hint -->
    <div class="hint-container" ng-if="getQuestion().hintsAllowed()" ng-show="!questionAnswered()">
        <div role="button" class="ui-button ui-button-lower" id="btnRequestHint" ng-click="requestHint()" ng-class="{ 'disabled': questionAnswered() || !hintsAvailable() }">Hinweis</div>

        <div class="hint-display" ng-bind="hint"></div>
    </div>

    <!-- Submit button -->
    <div class="submit-container" ng-show="!questionAnswered()">
        <div class="ui-button ui-button-primary font-large" role="button" ng-click="submitAnswer()" ng-class="{ 'disabled': questionAnswered() }">Ok</div>
    </div>

    <!-- Next question -->
    <div class="next-question-container" ng-if="questionAnswered() && !wasLastQuestion()">
        <div role="button" class="ui-button ui-button-higher" id="btnNextQuestion" ng-click="nextQuestion()" tabindex="10" ng-keypress="enterListener($event, 'next_question')">Nächste Frage</div>
    </div>

    <!-- Continue to finished page -->
    <div class="finished-continue-container" ng-if="questionAnswered() && wasLastQuestion()">
        <div role="button" class="ui-button ui-button-primary font-large" ng-click="continueFinished()" id="btnContinueFinished" tabindex="11" ng-keypress="enterListener($event, 'continue_finished')">Fertig</div>
    </div>
</section>

<section class="after-quiz" ng-if="isResultsPageVisible">
    <div class="quiz-result">Das Quiz ist beendet. Du hast <span class="white">{{getTotalPoints() | number}} Punkte</span> erreicht.</div>

    <div class="achievement-container" ng-if="achievements && achievements.length > 0">
        <div ng-repeat="achievement in achievements" class="ui-message ui-message-success">
            {{achievement.text}}
        </div>
    </div>

    <div class="bests-container" ng-if="bests && bests.length > 0">
        <div ng-repeat="best in bests" class="ui-message ui-message-info" ng-bind-html="getBestText(best) | renderHtml"></div>
    </div>

    <div class="further-actions-container divider-top">
        <div>Noch ein Versuch?</div>
        <div role="button" class="ui-button ui-button-primary" ng-click="restartQuiz()">Neu starten</div>
    </div>
</section>