<section class="countryDetail" ng-controller="CountryDetailCtrl">
    <div class="back-container">
        <a href ui-sref="countries">Zurück zur Übersicht</a>
    </div>

    <div class="section-title">{{country.name}}</div>

    <div>
        <table class="countryDetailTable">
            <tr>
                <td>
                    <span class="flag-icon flag-icon-{{country.alpha2Code.toLowerCase()}}" title="Flagge von {{country.name}}"></span>
                </td>
            </tr>

            <tr>
                <td class="bold">Hauptstadt</td>
                <td>{{country.capital}}</td>
            </tr>

            <tr>
                <td class="bold">Einwohner</td>
                <td>{{country.population | number}}</td>
            </tr>

            <tr>
                <td class="bold">Fläche</td>
                <td>{{country.area | number}} km²</td>
            </tr>

            <tr>
                <td class="bold">Grenzstaaten</td>
                <td>
                    <ul ng-if="country.borders.length > 0">
                        <li ng-repeat="border in country.borders | orderBy:getCountryFromService(border).name">
                            <a ng-href="/countries/{{getCountryFromService(border).alpha3Code}}">{{getCountryFromService(border).name}}</a>
                        </li>
                    </ul>
                    <span ng-if="country.borders.length <= 0">Keine</span>
                </td>
            </tr>
        </table>
    </div>
</section>