<section class="countryDetail" ng-controller="CountryDetailCtrl">
    <div class="back-container">
        <a href ui-sref="countries">Zurück zur Übersicht</a>
    </div>

    <div class="section-title">{{country.name}}</div>

    <div>
        <table class="countryDetailTable">
            <tr>
                <td class="bold">Hauptstadt</td>
                <td>{{country.capital}}</td>
            </tr>

            <tr>
                <td class="bold">Einwohner</td>
                <td>{{country.population}}</td>
            </tr>

            <tr>
                <td class="bold">Fläche</td>
                <td>{{country.area}} km²</td>
            </tr>

            <tr>
                <td class="bold">Grenstaaten</td>
                <td>
                    <ul>
                        <li ng-repeat="border in country.borders">
                            <a ng-href="/countries/{{getCountryFromService(border).alpha3Code}}">{{getCountryFromService(border).name}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</section>