<section class="error-container">
    <div class="section-element section-title">Ach herrje...</div>

    <div class="section-element">
        Leider ist etwas passiert das auf keinen Fall passieren sollte... <span class="bold">ein Fehler!</span>
    </div>

    <div class="section-element">
        Sollte der Fehler weiterhin auftreten würden wir dich bitten, dass du uns per <a href="mailto:magellan@neonalps.at">E-Mail (magellan@neonalps.at)</a> Bescheid gibst, was du machen wolltest als der Fehler aufgetreten ist.
    </div>

    <div class="section-element">
        Danke vielmals und Entschuldigung für die Unannehmlichkeiten!
    </div>
</section>