<section class="faq-container">
    <div class="section-element section-title">FAQs</div>

    <div class="section-element faq-item">
        <div class="faq-item-question">Wie funktioniert ein Quiz?</div>
        <div class="faq-item-answer">
            Lorem ipsum dolor sit amet...
        </div>
    </div>

    <div class="section-element faq-item">
        <div class="faq-item-question">Wie werden die Punkte gezählt?</div>
        <div class="faq-item-answer">
            Lorem ipsum dolor sit amet...
        </div>
    </div>

    <div class="section-element faq-item">
        <div class="faq-item-question">Woher stammen die Länderdaten?</div>
        <div class="faq-item-answer">
            Lorem ipsum dolor sit amet...
        </div>
    </div>

    <div class="section-element faq-item">
        <div class="faq-item-question">Kann ich so viele Quiz spielen wie ich möchte?</div>
        <div class="faq-item-answer">
            Lorem ipsum dolor sit amet...
        </div>
    </div>

    <div class="section-element faq-item">
        <div class="faq-item-question">Könnte man bei Magellan eigentlich schummeln?</div>
        <div class="faq-item-answer">
            Lorem ipsum dolor sit amet...
        </div>
    </div>
</section>