<section class="highscore-container" ng-controller="HighscoreCtrl">
    <section class="data-loading" ng-if="isDataLoading">
        <img src="/dist/images/loading.gif" height="40" width="40" />
    </section>

    <section ng-if="!isDataLoading">
        <table class="score-list" ng-if="scoreList.length > 0">
            <tr ng-repeat="entry in scoreList" ng-class="{ 'bold': isMyself(entry.id) }">
                <td>{{entry.rank}}</td>
                <td><span class="user-profile bg-{{entry.color}}"></span>{{entry.username}}</td>
                <td>{{entry.score | number}} <span class="hide-small">Punkte</span></td>
            </tr>
        </table>

        <div class="score-no-entries" ng-if="scoreList.length === 0">
            Zurzeit gibt es noch keine Einträge in der Bestenliste.
        </div>
    </section>
</section>