<section ng-controller="HomeCtrl">
    <section class="section-element welcome">
        Welcome to Magellan!
    </section>

    <section class="section-element to-login" ng-if="!user">
        Here you can <a href="/login">log in</a> to start a new quiz.
    </section>

    <section class="section-element to-register" ng-if="!user">
        If you don't have an account yet, don't worry! You can <a href="/register">register</a> here.
    </section>

    <section class="section-element ui-message-container" ng-if="message">
        <div class="ui-message ui-message-center ui-message-{{message.type}}">{{message.text}}</div>
    </section>
</section>