<section>
    <section class="section-element welcome">
        Willkommen bei Magellan<span ng-if="user">, <span class="highlight">{{user.username}}</span></span>!
    </section>

    <section class="section-element logo">
        <img src="/build/images/world.svg" width="150" height="150" />
    </section>

    <section class="section-element to-faq" ng-if="user">
        Falls du Fragen zu dieser Seite hast, gibt es <a href="/faq">hier</a> eine kurze Übersicht zu häufig gestellten Fragen.
    </section>

    <section class="section-element to-login" ng-if="!user">
        Hier kannst du dich <a href="/login">einloggen</a> um ein neues Quiz zu beginnen.
    </section>

    <section class="section-element to-register" ng-if="!user">
        Falls du noch keinen Account hast, keine Sorge! Du kannst dich hier <a href="/register">registrieren</a>.
    </section>

    <section class="section-element ui-message-container" ng-if="message">
        <div class="ui-message ui-message-center ui-message-{{message.type}}">{{message.text}}</div>
    </section>
</section>