<section>
    <section class="section-element welcome">
        Willkommen bei Magellan<span ng-if="user">, <span class="highlight">{{user.username}}</span></span>!
    </section>

    <section class="section-element logo">
        <img src="/dist/images/world.svg" width="150" height="150" />
    </section>

    <section class="section-element to-faq" ng-if="user">
        Falls du Fragen zu dieser Seite hast, gibt es <a href="/faq">hier</a> eine kurze Übersicht zu häufig gestellten Fragen.
    </section>

    <section class="section-element to-login" ng-if="!user">
        Hier kannst du dich <a href="/login">einloggen</a> um ein neues Quiz zu beginnen.
    </section>

    <section class="section-element to-register" ng-if="!user">
        Falls du noch keinen Account hast, keine Sorge! Du kannst dich hier <a href="/register">registrieren</a>.
    </section>

    <section class="section-element oauth-container" ng-if="!user">
        <div class="bold">Oder melde dich über einen Social Media Account an:</div>
        <ul class="oauth-options">
            <li class="pointer" ng-click="doFacebookLogin()"><img src="/dist/images/fb_login_button.png" width="202" height="46" title="Mit Facebook-Account anmelden" alt="Facebook"></li>
            <li class="pointer" ng-click="doGoogleLogin()"><img src="/dist/images/btn_google_signin_light_normal_web.png" width="191" height="46" title="Mit Google-Account anmelden" alt="Google"></li>
        </ul>
    </section>

    <section class="section-element ui-message-container" ng-if="message">
        <div class="ui-message ui-message-center ui-message-{{message.type}}">{{message.text}}</div>
    </section>
</section>

<footer>
    Das Magellan-Länderquiz wurde erstellt von <span class="highlight">Michael Stifter</span> (2016)

    <div class="icon-credit">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>