<div ng-controller="LoginCtrl">
    <section class="section-element section-title">
        Einloggen
    </section>

    <section class="section-element">
        <form ng-submit="login(username, password)">
            <div class="form-group">
                <label>Benutzername oder E-Mail-Adresse</label>
                <input class="form-control" id="username" type="text" placeholder="Benutzername oder E-Mail-Adresse" ng-model="username" />
            </div>

            <div class="form-group">
                <label>Passwort</label>
                <input class="form-control" type="password" placeholder="Passwort" ng-model="password" />
            </div>

            <div class="form-group">
                <div class="ui-button ui-button-primary" role="button" ng-click="login(username, password)">Einloggen</div>
                <input type="submit" value="Login" ng-hide="true" />
            </div>
        </form>
    </section>

    <section class="section-element password-reset">
        <a href="/password/forgot">Passwort vergessen?</a>
    </section>

    <section class="section-element">
        <a href="/register">Noch nicht registriert?</a>
    </section>

    <section class="section-element oauth-container">
        <div class="bold">Oder melde dich über einen Social Media Account an:</div>
        <ul class="oauth-options">
            <li class="pointer" ng-click="doFacebookLogin()"><img src="/dist/images/fb_login_button.png" width="202" height="46" title="Mit Facebook-Account anmelden" alt="Facebook"></li>
            <li class="pointer" ng-click="doGoogleLogin()"><img src="/dist/images/btn_google_signin_light_normal_web.png" width="191" height="46" title="Mit Google-Account anmelden" alt="Google"></li>
        </ul>
    </section>

    <section class="section-element ui-message-container" ng-if="message">
        <div class="ui-message ui-message-center ui-message-{{message.type}}">{{message.text}}</div>
    </section>
</div>