<section class="quiz" ng-controller="QuizCtrl">
    <section class="start-quiz" ng-if="!hasQuizStarted() && !hasQuizEnded()">
        <h2>Start a new quiz</h2>

        <div role="button" class="ui-button ui-button-primary" ng-click="startQuiz()">Start</div>
    </section>

    <section class="play-quiz" ng-if="isQuizRunning()">
        <quiz></quiz>
    </section>

    <section class="after-quiz" ng-if="hasQuizEnded()">
        <div>Das Quiz ist beendet.</div>
        <div>Gratuliere! Du hast {{getTotalPoints()}} Punkte erreicht.</div>
    </section>
</section>