<div ng-controller="RegisterCtrl">
    <section class="section-element section-title">
        Bei Magellan registrieren
    </section>

    <section class="section-element">
        <form name="registerForm" ng-submit="register(registerForm.$valid)">
            <div class="form-group">
                <label>Benutzername</label>
                <input class="form-control" id="username" type="text" placeholder="Benutzername" ng-model="newUser.username" required />
            </div>

            <div class="form-group">
                <label>E-Mail Adresse</label>
                <input class="form-control" id="email" type="email" placeholder="E-Mail Adresse" ng-model="newUser.email" required />

                <div class="info">
                    Die E-Mail-Adresse wird nur benötigt, falls du dein Passwort vergisst oder es wichtige Informationen zu <b>Magellan</b> gibt. Sie wird niemals an Dritte weitergegeben.
                </div>
            </div>

            <div class="form-group-inline">
                <input class="form-control-inline" id="emailUpdates" type="checkbox" ng-model="newUser.emailUpdates" />
                <label for="emailUpdates">Ich möchte über wichtige Informationen zu <b>Magellan</b> (z. B. neue Funktionalitäten) per E-Mail erfahren. Die Zustimmung kann hier jederzeit widerrufen werden.</label>
            </div>

            <div class="form-group">
                <label>Passwort</label>
                <input class="form-control" type="password" placeholder="Passwort" ng-model="newUser.password" required />
            </div>

            <div class="form-group">
                <password-requirements attribute-input="{{newUser.password}}"></password-requirements>
            </div>

            <div class="form-group">
                <label>Passwort wiederholen</label>
                <input class="form-control" type="password" placeholder="Passwort wiederholen" ng-model="newUser.password2" required />
            </div>

            <div class="form-group">
                <div class="ui-button ui-button-primary" role="button" ng-click="delegateSubmit()">Registrieren</div>
                <input type="submit" value="Registrieren" ng-hide="true" />
            </div>
        </form>
    </section>
</div>