<section class="settingsContainer" ng-controller="SettingsCtrl">
    <section class="section-element section-title">Einstellungen</section>

    <section class="section-element">
        <form ng-submit="updateUser()">
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" id="username" type="text" placeholder="Username" ng-model="userObj.username" required />
            </div>

            <div class="form-group">
                <label>E-Mail-Adresse</label>
                <input class="form-control" id="email" type="email" placeholder="E-Mail-Adresse" ng-model="userObj.email" required />
            </div>

            <div class="form-group">
                <label>Farbe</label>
                <ul class="color-list">
                    <li ng-repeat="color in userColors" ng-class="{ 'selected': userObj.color === color }" ng-click="setColor(color)">
                        <span class="user-icon bg-{{color}}"></span>
                    </li>
                </ul>
            </div>

            <div class="form-group">
                <div class="ui-button ui-button-primary" role="button" ng-click="updateUser()">Speichern</div>
                <input type="submit" value="Speichern" ng-hide="true" />
            </div>
        </form>
    </section>
</section>